
<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                
                <ngb-tabset type="pills">
                  <ngb-tab title="Home">
                        <ng-template ngbTabContent>
                   <app-home></app-home>
                   </ng-template>
                  </ngb-tab>
                  <ngb-tab title="Categories">
                        <ng-template ngbTabContent>
                   <app-categories></app-categories>
                   </ng-template>
                  </ngb-tab>
                 
                </ngb-tabset>
  			</div>
        </div>
    </div>
    
</div>
